* {
border: none;
border-radius: 0;
min-height: 0;
font-family: "mononoki";
font-weight: bold;
font-size: 10px;
padding: 0;
}

window#waybar {
  background: rgba(0,0,0,0.92);
  border-bottom: 2px solid #1d1160; /* purple */
}

tooltip {
  background-color: #101010;
  border: 2px solid #766451;
}

#clock,
#tray,
#cpu,
#memory,
#bluetooth,
#network,
#pulseaudio {
margin: 6px 6px 6px 0px;
padding: 2px 8px;
}

#workspaces {
margin: 4px 8px;
padding: 0 12px;
border-radius: 5px;
background: none; /* Make the container transparent */
border: none;
font-weight: 600;
letter-spacing: 0.2px;
}

#workspaces button {
min-width: 0;
box-shadow: inset 0 -3px transparent;
color: #52fd50;
margin: 4px 8px;
padding: 0 12px;
border-radius: 5px;
background: #1d1160;
border: 1px solid #52fd50;
}

#workspaces button.active {
background: #52fd50;
color: #274426;
border: 1px solid #1d1160;
}

#workspaces button.urgent {
background-color: #e78a4e;
color: #f9ad1b;
}

#mpris,
#clock {
margin: 4px 8px;
padding: 0 12px;
border-radius: 5px;
background: #1d1160;          /* purple chip */
color: #52fd50;               /* amber text */
border: 1px solid #52fd50;
font-weight: 600;
letter-spacing: 0.2px;
box-shadow:
0 1px 0 rgba(255,255,255,0.05) inset,
0 2px 10px rgba(0,0,0,0.35);
}

#tray,
#cpu,
#memory,
#bluetooth,
#network,
#pulseaudio {
margin: 4px 8px;
padding: 0 12px;
border-radius: 5px;
background: #1d1160;          /* purple chip */
color: #52fd50;               /* amber text */
border: 1px solid #52fd50;
font-weight: 600;
letter-spacing: 0.2px;
box-shadow:
0 1px 0 rgba(255,255,255,0.05) inset,
0 2px 10px rgba(0,0,0,0.35);
}

#cpu.critical,
#memory.critical {
margin: 4px 8px;
padding: 0 12px;
border-radius: 5px;
background: #1d1160;          /* purple chip */
color: #52fd50;               /* amber text */
border: 1px solid #b95915;
font-weight: 600;
letter-spacing: 0.2px;
box-shadow:
0 1px 0 rgba(255,255,255,0.05) inset,
0 2px 10px rgba(0,0,0,0.35);
}


